import { LitElement, html } from "lit";
import { customElement, property } from "lit/decorators.js";
import componentStyle from "./faily-{{ name }}.style";
import { globalStyle, themeStyle } from "common-styles";

@customElement("faily-{{ name }}")
export class Faily{{ pascalCase name }} extends LitElement {
  static styles = [globalStyle, themeStyle, componentStyle];

  @property()
  name?: string = "World";

  render() {
    return html`<p>Hello, ${this.name}!</p>`;
  }
}
